.nav-bar-head h1 {
  font-size: 3em;
  margin: 0;
}

.nav-bar-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 1200px;
}

.header-nav {
    margin-top: 1em;
    ul {
        list-style: none;
        padding: 0;
        display: flex;
        gap: 1.5em;
        justify-content: center;
    }
} 

p {
  font-size: 1.25em;
  margin: 0;
  padding: 0;
}