.nav-bar-head h1 {
  font-size: 3em;
  margin: 0;
}

.nav-bar-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 1200px;
}

.nav-logo {
  text-decoration: none;
  color: inherit;
}

.nav-logo:hover h1 {
  opacity: 0.8;
}

.nav-logo h1 {
  transition: opacity 0.15s;
}

