.header-nav {
    margin-top: 1em;
    ul {
        list-style: none;
        padding: 0;
        display: flex;
        gap: 1.5em;
        justify-content: center;
        align-items: center;
        li {
            a {
                text-decoration: none;
                color: rgba(255, 255, 255, 0.87);
                font-size: 1.2em;
                transition: color 0.25s;
            }
            button {
                background-color: transparent;
                border: 1px solid rgba(255, 255, 255, 0.87);
                color: rgba(255, 255, 255, 0.87);
                font-size: 1.2em;
                padding: 0.4em 0.8em;
                transition: background-color 0.25s, color 0.25s;
                &:hover {
                    background-color: rgba(255, 255, 255, 0.87);
                    color: #242424;
                }
            }
        }
    }
} 